*{box-sizing:border-box;font-family:Segoe UI;}
body{
    margin:0;
    background:linear-gradient(120deg,#0f172a,#1e293b);
    color:white;
}

.app{
    display:flex;
    height:100vh;
    padding:20px;
    gap:20px;
}

/* SIDEBAR */
.sidebar{
    width:280px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(12px);
    padding:20px;
    border-radius:20px;
}

.subtitle{opacity:.6;font-size:13px;}

.statsBox{
    display:flex;
    justify-content:space-between;
    margin:20px 0;
}
.statsBox div{
    text-align:center;
}
.statsBox span{
    font-size:22px;
    font-weight:bold;
}

.quickAdd{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}
.quickAdd input{
    flex:1;
    padding:10px;
    border:none;
    border-radius:10px;
}
.quickAdd button{
    background:#7c3aed;
    border:none;
    color:white;
    padding:10px 15px;
    border-radius:10px;
    font-size:18px;
}

.menu button{
    width:100%;
    padding:12px;
    margin:6px 0;
    border:none;
    border-radius:12px;
    background:rgba(255,255,255,0.07);
    color:white;
    cursor:pointer;
}

/* MAIN PANEL */
.main{
    flex:1;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(12px);
    padding:20px;
    border-radius:20px;
}

.topBar{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

ul{list-style:none;padding:0;}

li{
    background:rgba(255,255,255,0.06);
    padding:15px;
    margin-bottom:10px;
    border-radius:14px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:.3s;
}
li:hover{transform:scale(1.02);}

.completed{opacity:.4;text-decoration:line-through;}

.taskBtns button{
    margin-left:8px;
    border:none;
    padding:6px 10px;
    border-radius:8px;
    cursor:pointer;
}

.completeBtn{background:#22c55e;color:white;}
.deleteBtn{background:#ef4444;color:white;}